@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Administration";
}

@await Component.InvokeAsync("Breadcrumb")

<h1>Users</h1>

<table class="table">
    <thead>
        <tr class="d-flex">
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.EmailConfirmed
                </td>
            </tr>
        }
    </tbody>
</table>
