@model Northwind.Web.ViewModels.Categories.CategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories table</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryItemModels[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryItemModels[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryItemModels[0].Description)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryItemModels)
        {
            <tr>
                <td>
                    @item.CategoryId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a asp-action="Image" asp-route-id="@item.CategoryId">Image</a>
                </td>
            </tr>
        }
    </tbody>
</table>